body {
    font-family: 'Playfair Display', cursive;
    background-color: #f7f7f7;
    margin: 0;
    padding: 20px;

  
}
h1{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.end{
    display: flex;
    flex-wrap: nowrap;
}

.container {
    width: 60vw;
    margin: auto;
    background: #fff;
    padding: 20px;
    box-shadow: 2px 2px 20px 20px rgba(0, 0, 0, 0.1);
    /* background-color: rgb(30, 29, 29); */
}
.dark_light{
    height: 24px;
    width: 24px;
    border-radius: 50px;
}

.toggle ion-icon:hover{
    background-color: rgb(166, 172, 166);
    border: 1px solid white;    
    height: 26px;
    height: 26px;
}

ion-icon:hover{
    cursor: pointer;

}


h1, h2 {
    text-align: center;
}

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 20px;
    padding: 20px;
    
    background-color: rgb(171, 171, 171);
    
    border: 1px solid #ccc;
    border-radius: 20px;
    gap: 15px;
}

.form{
    display: none;
}
form{
    display: flex;
    flex-direction: column;
    gap: 7px;
    
}
.time{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

#startDate{
    height: 20px;
    width: 30%;
    border: 1px solid #ccc;
    background-color: transparent;
    border-radius: 20px;
    padding: 5px;
    margin-bottom: 10px;
}
#endDate{
    height: 20px;
    width: 30%;
    border: 1px solid #ccc;
    background-color: transparent;
    border-radius: 20px;
    padding: 5px;
    margin-bottom: 10px;
}
#projectDescription{
    height: 40px;
    width: 90%;
    border: 1px solid #ccc;
    background-color: transparent;
    border-radius: 20px;
    padding: 10px;
    margin-bottom: 15px;

}
input[type="text"] {
    padding: 10px;
    width: 70%;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: transparent;
    border-radius: 20px;
    margin-bottom: 10px;
}

button {
    padding: 10px;
    background: #5cb85c;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 10px;
}

button:hover {
    background: #4cae4c;
}

.projects-container ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    /* flex-direction: column; */
    align-items: center;
    /* background-color: #4cae4c; */
}

.projects-container li {
    
    background: #ebebeb;
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    border: 1px solid #dadada;
    border-radius: 4px;
    width: 30vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.projects-container li button{
    height: 35px;
}

table{
    background: #ebebeb;
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    border: 1px solid #dadada;
    border-radius: 4px;
    width: 70vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.projects-container button {
    background: #d9534f;
    border: none;
    color: white;
    cursor: pointer;
    padding: 10px 10px;
    border-radius: 4px;
    margin-bottom: 3px;
    height: 100%;
    
}

.projects-container button:hover {
    background: #c9302c;
}
